$blue : #87ceeb;
$orange : #f50;
$height : 200px;
@mixin rounded-corners {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@mixin link-style($red, $blue, $yellow) {
    &:hover {
        color: $red;
    } 
    &:visit {
        color: $blue;
    }
    &:avtive {
        color: $yellow;  
    }  
}
div {
    color: $blue;
    height: $height;
    width: 200px;
    @include rounded-corners;
}
div {
    .content {
        color: $blue;
        line-height: $height;
    }
    .content1 {
        color: $orange;
        line-height: $height;
        border: 1px solid $blue;
    }
}
.content a {
    color: $blue;
    &:hover {
        color: $orange;
    }
}
a {
    @include link-style($orange, $blue, #f6efa9);
}
@import "newSass";
.yue {
    @extend a;
}


